---
title: Single Archive Page
description: Single archive page for the whole site
---

{% extends "page.j2" %}

{% block articles %}

<header class="content">
	<h1>Single Archive Page</h1>
</header>

{% for res in site.content.walk_resources_sorted_by_time() %}

<article class="content">
	<section>
		{% refer to res.relative_deploy_path as post %}
		<h2>{{ res.meta.title }}</h2>
		{{ post.article|markdown|typogrify }}
	</section>		
	<footer>
		<hr>
		<p><i class="icon-calendar"></i> {{ res.meta.date }}&nbsp; <i class="icon-user"></i> Charles Yuan&nbsp; <i class="icon-comment"></i> <a href="{{ site_url + content_url(res.full_url) }}#disqus_thread">comments</a>&nbsp;&nbsp;<a href="{{ res.full_url }}"> permlink</a>&nbsp;</p>
	</footer>					
</article>

{% endfor %}

{% endblock articles %}
