---
title: HELLO 2013!
date: 2013-02-17 14:56:00
last_modified: 2013-03-22 17:15:00
subtitle: 
description: "homepage"
---

{% extends "post.j2" %}

{% block post %}

在经历了玛雅人传说中的世界末日后，我们很幸运的存活了下来，还要开开心心的生活，虽然路会很漫长，但是希望就在前方。

这里在很久之前是放在 GAE 上，现在[链接](http://beta4better.appspot.com)依旧还存在，不过接触到不是那么方便，虽然之前也不是那么的方便，但是刚开始的时候是很方便的。当时使用的是 Livid 的 Picky 来搭建的一个 blog 站点而已。不过由于自己的懒惰，极少更新，一直荒废。不过上面的文章在 Google 上的收录真的很喜人，所以一直不舍得丢弃。

最近研究 Pelican 的时候，发现一个很不错的脚本：`pelican-import.py`，于是利用他把之前 GAE 上的文章全部转换成了静态的文件，再经过一些简单的转换放到了这里的一个子目录下，然后再用 Nginx 的 try_files 做个简单的匹配，保证之前链接的有效，不至于全是404。

近期我得把这个过程详细的记录一下，现在虽然有印象，过几天估计就忘的一干二净了。年纪愈大记性愈发的不好起来，很多事情过眼就忘记了。

自己的博客经过考虑还是转移到子域名下比较合适：[charles.beta4better.me](http://charles.beta4better.me/)，与媳妇的做一下呼应：[abby.beta4better.me](http://abby.beta4better.me/)。虽然她用的是动态的，而我用的是静态的。

关于静态博客需要整理一个列表，现在的变体真的是多，而且各种语言的都有，很是壮观。挑一两个看看源码，作为学习这门语言的开始。

其他的这里一般就会很少更新了，有关心的请移步到[这里](http://charles.beta4better.me/)，或许会有一些让你感兴趣的文字。

最后更新：2013-02-17 14:56

{% endblock post %}

