body {
	font-family: 'Ubuntu', 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;	
	background-image: url('/assets/images/129.png');
}
.container {	
	width: 940px;
}
.content {
	margin-bottom: 20px;
	padding: 20px;

}
.front-color{

}
.footer {
	margin-bottom: 0px;
}
.sidebar .ads {
	padding: 10px;
}

a {
	color: #ff3333;
}

.sidebar .about {
	padding: 10px;
}
.next {
  float: right;
}
.previous {
  float: left;
}

.pager li > a,
.pager li > span {
  border: 0px solid #ddd;
}

.archives,
.blogrolls {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}