{# #}

{% for res in resource.node.walk_resources_sorted_by_time() %}

<article class="content front-color">
	<section>
		{% refer to res.relative_deploy_path as post %}
		<h2>{{ res.meta.title }}</h2>
		{{ post.article|markdown|typogrify }}
	</section>						
	<footer>
		<hr>
		<p><i class="icon-calendar"></i> {{ res.meta.date }}&nbsp; <i class="icon-user"></i> Charles Yuan&nbsp; <i class="icon-comment"></i> <a href="{{ site_url + content_url(res.full_url) }}#disqus_thread">comments</a>&nbsp;&nbsp;<a href="{{ res.full_url }}"> permlink</a>&nbsp;</p>
	</footer>
</article>

{% endfor %}