{% macro render_main_menu() -%}
<ul class="nav">
{% for menu_item in menu -%}
  <li{% if menu_item.url == resource.url or menu_item.active %} class="active"{% endif %}><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_latest_posts(count=None) -%}
<ul class="latest-posts">
{% for res in site.content.walk_resources_sorted_by_latest()[0:count] %}
<li>
    {#<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    {{ res.meta.created.strftime('%Y-%m-%d') }}
    </time>#}
    <a href="{{ res.full_url }}">{{ res.meta.title }}</a>
</li>
{% endfor %}
</ul>
{%- endmacro %}
