<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ resource.meta.title }}{% endblock %} | {{ site_title }}</title>
	
	<meta name="description" content="{{ resource.meta.description }}">
	<meta name="author" content={% if resource.meta.author %} "{{ resource.meta.author }}" {% else %} "{{ author.name }}" {% endif %}>

	{% block basecss %}
	<link href="{{ media_url('css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ media_url('css/style.css') }}" rel="stylesheet">
	{% endblock basecss %}
	{% block css %}{% endblock %}
	{% if site.config.mode != 'development' %}
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	{% endif %}
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="/assets/js/html5shiv.js"></script>
	<![endif]-->
	{% block favicons %}
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/assets/ico/favicon.png">
	{% endblock favicons %}                                   
</head>

<body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">
    <div class="container">
			<header class="content text-center front-color">
				<!--<img src="/assets/images/charles.jpg" class="img-circle" style="width:80px;"/>-->
				<h1><a href="{{ site_url }}">{{ site_title }}</a></h1>
				<h2><small>{{ site_desc }}</small></h2>
			</header> <!-- head section -->
			
			<section class="row">
				<div class="span9">
					{% block articles %}{% endblock articles %}
				</div> <!-- main content span9 -->

				<div class="span3 sidebar">
					{% include "sidebar.j2" %}
				</div><!-- sidebar span3 -->
			</section><!-- main content sectoin  -->

			<footer class="content text-left footer">
				<p class="muted">&copy; 2010-2013</p>
			</footer><!-- foot section -->	

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'beta4better'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>


</body>
</html>
