<section class="content about front-color">
<img src="/assets/images/hill.jpg" />
</section>

<section class="content blogrolls front-color">
	<h5>BLOG ROLLS</h5>
	<ul class="unstyled">
		<li><i class="icon-th-list"></i><a href="http://abby.beta4better.me/" > 风吹过的夏天</a></li>
		<li><i class="icon-th-list"></i><a href="http://www.lowendserver.net/" > L.E.S</a></li>
		<li><i class="icon-th-list"></i><a href="http://www.v2ex.com/" > V2EX</a></li>
		<li><i class="icon-th-list"></i><a href="http://www.allthingsdistributed.com/" > All Things Distributed</a></li>
		<li><i class="icon-th-list"></i><a href="http://www.lowendbox.com/" > Lowendbox</a></li>
		<li><i class="icon-th-list"></i><a href="http://www.python-china.org/" > Python China</a></li>
		<li><i class="icon-th-list"></i><a href="http://www.ruby-china.org/" > Ruby China</a></li>
	</ul>
</section>

<section class="content archives front-color">
	<h5>Archives</h5>
	<ul class="unstyled">
		<li><i class="icon-bookmark"></i><a href="/freebsd/" > FreeBSD</a></li>
		<li><i class="icon-bookmark"></i><a href="/2013/" > 2013</a></li>
		<li><i class="icon-bookmark"></i><a href="/2012/" > 2012</a></li>
		<li><i class="icon-bookmark"></i><a href="/wordpress/" > Wordpress - legacy</a></li>
		<li><i class="icon-bookmark"></i><a href="/gae/" > GAE - legacy</a></li>
	</ul>
</section>

{% if site.config.mode != 'development' %}
<section class="content ads">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-0878077987353821";
	/* abby.beta4better.me */
	google_ad_slot = "2936335265";
	google_ad_width = 200;
	google_ad_height = 200;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</section>
{% endif %}