---
title: HELLO L.E.S!
subtitle: 
description: Test description
---

{% extends "1040.j2" %}

{% block main %}
<!--<img src="/media/images/hill.jpg" style="width:240px; float:right; margin-left:20px; margin-bottom:20px;" />-->

2012已经过去，2013已经到来。长路漫漫，希望就在前方。

这个域名买了有段时间了，本来计划像 [LowEndBox](http://www.lowendbox.com/) 和 [9bMB](http://www.96mb.com/) 那样放些优惠信息，使用测评以及日常小技巧之类的，不过太懒了，没能坚持下来。

不过还是不想荒废这个域名，做个页面放到这里来，有好的想法的时候写一下，反正是纯静态的，也占用不了多少资源。如果您有好的想法请[与我联系](mailto:beta4better@gmail.com)。

现在积累下来的一些知识做一下简单的整理，如果有用直接拿去用就好了。

 - [MySQL创建数据库的方法](/tips/mysql-tips.html)
 - [裸域重定向到www](/tips/naked-domain-redirect-to-www.html)

最后更新：2013-03-02 13:32

{% endblock main %}

{% block sidebar %}

<div id="about">
<h2>About L.E.S</h2>
<!--<p><img src="/media/images/hill.jpg" /></p>-->

<p>LES暂时托管在<a href="http://aws.amazon.com/s3/" >AWS S3</a>上。</p>
<p>关注低价的vps以及虚拟主机，安装配置方法及小技巧。</p>
<p>投稿请<a href="mailto:beta4better@gmail.com">联系我</a>。</p>
<p>其他信息可以到<a href="http://charles.beta4better.me/">这里</a>了解。</p>
</div>

{% endblock sidebar %}
